#?common
PORT = "8080"
NODE_ENV = "development"

#?to hide
JWT_SECRET = "example"
JWT_ISSUER = "localhost"
JWT_AUDIENCE = "localhost"

#?db
DB_HOST="localhost"
DB_PORT="1433"
DB_INSTANCENAME="example"
DB_DATABASE="Total_Gambit"
DB_USERNAME="example"
DB_PASSWORD="example"